//Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Work+Sans:wght@100;200;300;400;500;700;900&display=swap');

// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Work Sans', sans-serif;

//Variables
//Variables
@import "./variables.scss";

//reset
*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}