//colors
$main_color:  #55328b;
$main_color_light: #f7f0f3;
$sky:#f1f9fb;
$light_pink:#faf3e3;

//Containers
@mixin container_80{
    width: 80%;
    margin: auto;
}

@mixin margin_top_bottom_70px{
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}


//typo

//stile per l'intestazione delle sezioni:
@mixin section_header{
    h5{
        font-weight: 400;
        font-size: .75rem;
        text-transform: uppercase;
    };
    h3{
        font-size: 1.5625rem;
        padding: 1.5625rem 0;
        font-family: "Lora", serif;
    }
    p {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        padding: 1.5625rem 0;
      }
}
